{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="slider">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="https://wallpaperaccess.com/full/896979.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="https://images.hdqwalls.com/wallpapers/clouds-hd.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="https://wallpaperaccess.com/full/3010033.jpg" style="width:100%">
            </div>

        </div>

        <div style="text-align:center" class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>

    <section id="categories">
        <div class="wrapper">

            <div class="name">
                <h1>Категории</h1>
                <a href="./market.html">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>

            <div class="row">
            {% for category in categories %}
                <div class="card">
                    <img src="{{ category.image.url }}" alt="">
                    <a href="{% url 'store:category' category.slug %}">{{ category.name }}</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <section id="products">
        <div class="wrapper">
            <div class="name">
                <h1>Новинки</h1>
                <a href="">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>
            <div class="flex">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart" onclick="tap()">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ads">
        <div class="wrapper">
            <img src="{% static 'images/reklama1.png' %}" alt="">
        </div>
    </section>

    <section id="products">
        <div class="wrapper">
            <div class="name">
                <h1>Хиты недели</h1>
                <a href="">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>
            <div class="flex">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex" style="margin-top: 20px;">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'images/rafaello.png' %}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ads">
        <div class="wrapper">
            <img src="{% static 'images/reklama2.png' %}" alt="">
        </div>
    </section>

    <section id="pre-footer">
        <div class="wrapper">
            <div class="text">
                <h1>Выгода с доставкой</h1>
                <p>Подпишитесь и получайте промокоды, акции и подборки товаров на почту.</p>
            </div>
            <div class="search-footer">
                <input type="email" placeholder="Введите вашу почту:">
                <button>Подробнее</button>
            </div>
            <div class="text textp">
                <p>Нажимая «Подписаться» вы соглашаетесь с <span> Условиями использования сайта </span> и <span>
                        Политикой обработки
                        персональных данных. </span> </p>
            </div>
        </div>
    </section>
{% endblock %}

