{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="categories">
        <div class="wrapper">

            <div class="name">
                <h1>Маркет</h1>
            </div>

            <div class="row">
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/sport.png' %}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/tehnika.png' %}" alt="">
                    <a href="#">Электроника</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/sport.png' %}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/tehnika.png' %}" alt="">
                    <a href="#">Электроника</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/sport.png' %}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/tehnika.png' %}" alt="">
                    <a href="#">Электроника</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
            </div>

            <div class="row hidden expandable">
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/sport.png' %}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/tehnika.png' %}" alt="">
                    <a href="#">Электроника</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
            </div>

            <div class="row hidden expandable">
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/sport.png' %}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/tehnika.png' %}" alt="">
                    <a href="#">Электроника</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/mebel.png' %}" alt="">
                    <a href="#">Мебель</a>
                </div>
            </div>


        </div>
        <div class="btn-container">
            <button class="expand-btn">Расширить</button>
        </div>
    </section>

    <section id="pre-footer">
        <div class="wrapper">
            <div class="text">
                <h1>Выгода с доставкой</h1>
                <p>Подпишитесь и получайте промокоды, акции и подборки товаров на почту.</p>
            </div>
            <div class="search-footer">
                <input type="email" placeholder="Введите вашу почту:">
                <button>Подробнее</button>
            </div>
            <div class="text textp">
                <p>Нажимая «Подписаться» вы соглашаетесь с <span> Условиями использования сайта </span> и <span>
                        Политикой обработки
                        персональных данных. </span> </p>
            </div>
        </div>
    </section>

{% endblock %}