{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="categories">
        <div class="wrapper">

            <div class="name">
                <h1>Маркет</h1>
            </div>

            <div class="row">
                {% for category in categories %}
                <div class="card">
                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    <a href="{% url 'store:category' category.slug %}">{{ category.name }}</a>
                </div>
                {% empty %}
                <p>Категории пока не добавлены.</p>
                {% endfor %}
            </div>


        </div>
        {% if categories %}{% else %}{% endif %}
    </section>

    <section id="pre-footer">
        <div class="wrapper">
            <div class="text">
                <h1>Выгода с доставкой</h1>
                <p>Подпишитесь и получайте промокоды, акции и подборки товаров на почту.</p>
            </div>
            <div class="search-footer">
                <input type="email" placeholder="Введите вашу почту:">
                <button>Подробнее</button>
            </div>
            <div class="text textp">
                <p>Нажимая «Подписаться» вы соглашаетесь с <span> Условиями использования сайта </span> и <span>
                        Политикой обработки
                        персональных данных. </span> </p>
            </div>
        </div>
    </section>

{% endblock %}
