{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="categorie">
        <div class="wrapper">
            <div class="name">
                <h1>Акции</h1>
            </div>
            <div class="choose-category">
                <div class="choose-outside">

                    <h3>Выбрать категорию
                        <i class="fa" style="margin-left: 1%"></i>
                    </h3>
                </div>
                <div class="choose-inside">
                    <div class="part1">
                        <p>Выберите интересующие вас категории</p>
                        <div class="part1-flex">
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                        </div>
                        <p style="color: rgba(0,0,0,0.5); margin: 20px 0 30px 0;"><i class="fa fa-times"
                                aria-hidden="true" style="margin-right: 1%;"></i>Сбросить все категории</p>
                        <hr>
                    </div>
                    <div class="part2">
                        <p style="margin-top: 20px;">Выберите интересующие вас акции</p>
                        <div class="part2-flex">
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                                <div class="input">
                                    <input type="checkbox" name="" id="">
                                    <label for="">Спорт</label>
                                </div>
                            </div>
                        </div>
                        <p style="color: rgba(0,0,0,0.5); margin: 20px 0 30px 0;"><i class="fa fa-times"
                                aria-hidden="true" style="margin-right: 1%;"></i>Сбросить все акции</p>
                        <hr>
                    </div>
                    <div class="buttons">
                        <button class="primenit">Применить</button>
                        <button class="neprimenit">Очистить</button>
                    </div>
                </div>

            </div>
    </section>


    <section id="sales">
        <div class="wrapper">

            <div class="row">
                <div class="sale-card card5">
                    <img src="{% static 'images/sale1.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card3">
                    <img src="{% static 'images/sale2.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card4">
                    <img src="{% static 'images/sale3.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card4">
                    <img src="{% static 'images/sale3.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card6">
                    <img src="{% static 'images/sale6.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card6">
                    <img src="{% static 'images/sale6.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card2">
                    <img src="{% static 'images/sale7.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card2">
                    <img src="{% static 'images/sale7.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card2">
                    <img src="{% static 'images/sale7.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card2">
                    <img src="{% static 'images/sale7.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card6 hidden expandable">
                    <img src="{% static 'images/sale8.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card6 hidden expandable">
                    <img src="{% static 'images/sale8.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card1 hidden expandable">
                    <img src="{% static 'images/sale4.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card1 hidden expandable">
                    <img src="{% static 'images/sale4.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card1 hidden expandable">
                    <img src="{% static 'images/sale4.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card3 hidden expandable">
                    <img src="{% static 'images/sale2.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card4 hidden expandable">
                    <img src="{% static 'images/sale3.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card4 hidden expandable">
                    <img src="{% static 'images/sale3.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

                <div class="sale-card card6 hidden expandable">
                    <img src="{% static 'images/sale6.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>
                <div class="sale-card card6 hidden expandable">
                    <img src="{% static 'images/sale6.webp' %}" alt="">
                    <div class="sale-card-info">
                        <p>до 18 мая</p>
                        <h3>Акция -50%</h3>
                    </div>
                </div>

            </div>

            <div class="buttons">
                <button class="primenit expand-btn">Показать еще</button>
            </div>
        </div>
    </section>

    <section id="pre-footer">
        <div class="wrapper">
            <div class="text">
                <h1>Выгода с доставкой</h1>
                <p>Подпишитесь и получайте промокоды, акции и подборки товаров на почту.</p>
            </div>
            <div class="search-footer">
                <input type="email" placeholder="Введите вашу почту:">
                <button>Подробнее</button>
            </div>
            <div class="text textp">
                <p>Нажимая «Подписаться» вы соглашаетесь с <span> Условиями использования сайта </span> и <span>
                        Политикой обработки
                        персональных данных. </span> </p>
            </div>
        </div>
    </section>
    
{% endblock %}