{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="wrapper">
                <div class="popup_form">
                    <div class="form">
                    <form method="post" action="{% url 'users:register' %}" class="mb-3">
                            {% csrf_token %}
                            <div class="img">
                                <a href="{% url 'base:home' %}"> <img src="{% static 'images/logo.png' %}" alt=""></a>
                            </div>
                            <div class="input">
                                <label for="email"> <b>Электронная почта</b> </label>
                                <input type="email" name="email" placeholder="email@gmail.com">
                            </div>

                            <div class="input">
                                <label for="password"> <b>Пароль</b> </label>
                                <input type="password" name="password1" placeholder="**********">
                            </div>
                            <div class="input">
                                <label for="password"> <b>Повтор пароля</b> </label>
                                <input type="password" name="password2" placeholder="**********">
                            </div>
                            <div class="input">
                                <input type="checkbox" name="checkbox" id="" checked>
                                <label for="checkbox" style="display: inline;">Получать новости на почту</label>
                            </div>

                            <div class="input">
                                <button type="submit" class="auth_btn" value="Зарегистрироваться">Зарегистрироваться</button>
                            </div>


                            <p id="or">ИЛИ</p>

                            <div class="form_icons">
                                <img src="{% static 'icons/gmail.png' %}" alt="">
                                <img src="{% static 'icons/facebook1 (1).png' %}" alt="">
                                <img src="{% static 'icons/twitter.png' %}" alt="">
                            </div>

                            <p>Уже зарегистрированы? <a href="{% url 'users:login' %}">Войдите</a> </p>
                        </form>         
                    </div>
                </div>
         </div>         
{% endblock %}