{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="about">
        <div class="wrapper">
            <div class="about-flex">
                <h1>Корзина</h1>
                <p>Добро пожаловать {{ user.email }}</p>
            </div>
            <div class="cart-items">
            {% for item in cart_items %}
                <div class="cart-item">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100%">
                    <div class="item-details">
                        <h3>{{ item.product.name }}</h3>
                        <p>Цена: {{ item.product.price }}</p>
                        <p>Количество: {{ item.quantity }}</p>
                        <p>Количество: {{ item.quantity }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Ваша корзина пуста</p>
                <p>{{ cart.user.email }}</p>
                <p>{{ datetime }}</p>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
